
/01-vpc/.terraform
/02-sg/.terraform
/03-vpn/.terraform
01-vpc/.terraform.lock.hcl
02-sg/.terraform.lock.hcl
/04-ec2/.terraform
03-vpn/.terraform.lock.hcl
/04-databases/.terraform
04-databases/.terraform.lock.hcl
05-app-alb/.terraform/terraform.tfstate
/05-app-alb/.terraform
05-app-alb/.terraform.lock.hcl
/06-catalogue/.terraform
06-catalogue/.terraform.lock.hcl
07-acm/.terraform/terraform.tfstate
/07-acm/.terraform
07-acm/.terraform.lock.hcl
/08-web/.terraform
08-web/.terraform.lock.hcl
/08-web-alb/.terraform
08-web-alb/.terraform.lock.hcl
09-web/.terraform/terraform.tfstate
09-web/.terraform.lock.hcl
/09-web/.terraform
/10-cdn/.terraform
10-cdn/.terraform.lock.hcl
/11-user/.terraform
11-user/.terraform.lock.hcl
/12-shipping/.terraform
/13-cart/.terraform
/14-payment/.terraform
13-cart/.terraform.lock.hcl
14-payment/.terraform.lock.hcl
12-shipping/.terraform.lock.hcl
14-payment/errored.tfstate
